@charset "UTF-8";

body {
	font-family: "Nunito", sans-serif;
	margin: 0;
}

/* Navbar */
nav {
	width: auto;
	padding: 0em 1em;
	margin-bottom: 1em;
}

.navbar {
	text-decoration: none;
	color: #622;
	display: flex; 
	gap:2em;
	align-items: baseline;
}

.menu {
	border: solid 2px #622;
	border-radius: 0 0 5px 5px;
	margin:0;
	max-width: 360px;
	display:none;
	position: fixed;
	left: 0;
	top:0;
	background-color: #fff;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	padding: 1em 1.5em;
}

/* Titoli */
h1 {
	font-family: "Borel", cursive;
	text-align: center;
}

h2, h3 {
	text-align: center;
}

h4 {
	color: #622;
	font-family: "Borel", cursive;
	font-weight: 1000;
	font-size: 18px;
	margin-bottom: 0.5em;
	margin-top:0.5em;
}

h5 {
	font-family: "Borel", cursive;
	font-weight: 1000;
	font-size: 14px;
	margin-top: 0.5em;
	font-style: italic;
}

/* Form */
form {
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	width: fit-content;
	gap: 1em;
}

#Titolo, #Sottotitolo {
	width: 300px;
}

select {
	height: 2.5em;
	width: 170px;
}

button.primario {
	padding: 0.8em 2em;
	background-color: #622;
	color: #fff;
	border-radius: 1.5em;
	border: solid 2px #622;
	margin-top: 0.5em;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 14px;
}

button.secondario {
	padding: 0.8em 2em;
	background-color: #fff;
	color: #622;
	border-radius: 1.5em;
	border: solid 2px #622;
	margin-top: 0.5em;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 14px;
}

/* Icone */
button.icon {
	width: 40px;
	height: 40px;
	border: solid 2px #6220;
	border-radius: 20px;
	background-color: #6220;
	padding: 0;
	justify-self: right; 
	align-self: end;
}

img.icon {
	width: fit-content;
  	height: fit-content;
	border-radius: 20px;
}

button.chiudi {
	justify-self: right;
	margin-right:1em;
	width: 24px;
	height: 24px;
	padding: 0px;
	border: none;
	font-weight: 100;
}

/* Elenco libri */
.elenco {
	display: flex;
	flex-flow: wrap;
	gap: 1em;
	margin: 1em;
}

.card {
	display: grid;
	width: 230px;
	height: 350px;
	padding: 1.5em 1.5em;
	background-color: #ffecec;
	border-radius: 0.2em 0.7em 0.7em 0.2em;
}

.card p {
	margin-bottom: 0.5em;
}

.card:nth-child(n) {
	color: #000;
}

.riga {
	display: flex;
	gap:1em;
}

.colonna input {
	height: 2.5em;
	width: 170px;
}

.colonna label {
	display: flex;
	flex-flow: column;
}


/* Dettaglio libro */
.cptlz {
	text-transform: capitalize;
}

.letto {
	width: fit-content;
	height: fit-content;
	border: none 1px #373;
	border-radius: 10px;
	background-color: #9e9;
	display: ruby;
	padding: 3px;
	text-align: center;
	font-size: 11px;
	color: #373;
	justify-self: right;
	align-self: end;
}

.nonletto {
	width: fit-content;
	height: fit-content;
	border: none 1px #373;
	border-radius: 10px;
	background-color: #fff;
	display: ruby;
	padding: 3px;
	text-align: center;
	font-size: 11px;
	color: #373;
	justify-self: right;
	align-self: end;
}

.inlinea {
	display: flex;
	flex-direction: row;
	gap: 1em;
	justify-content: center;
}

a {
	text-decoration: none;
	color: #622;
}

/* Elenco Autori */
.cardID {
	display: grid;
	width: 250px;
	height: 130px;
	border: none 1px #622;
	border-radius: 3px;
	padding: 1em;
	background-color: #ffecec;
}

.cardID p {
	margin-bottom: 0.5em;
}

/* Hover */
a:hover {
	color: #faa;
}

.elenco .card:hover {
	background-color: #faa;
}

button:hover {
	background-color: #faa;
	color: #622;
}